@model IEnumerable<User>

@{
    ViewBag.Title = "Users";
}

<div class="container align-items-center pt-4">
    <div class="row">
        <div class="col-sm-9">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "User")'">
                Add User
            </button>
        </div>
        <div class="col-sm-3">
            <form class="input-group" asp-controller="User" asp-action="All" method="get">
                        <input type="text" name="email" class="form-control" placeholder="Search by email">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
        </div>
    </div>
    
    <table class="table table-light table-hover">

        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>User type</th>
            <th>Acces level</th>
            <th>Active</th>

        </tr>
        </thead>
        <tbody>

        @foreach (var user in Model)
        {
            <tr style="cursor: pointer" 
                onclick="location.href = '@(Url.Action("Details", "User", new {user.Id}))'">
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserType.ToString()</td>
                <td>@user.AccessLevel</td>
                <td>@user.Active</td>
            </tr>
        }
        </tbody>
    </table>
</div>

