@model UserDetailsViewModel

@{
    ViewBag.Title = "User";
}

<div class="container-fluid pt-4 align-items-center justify-content-center">
    <div>
        <link rel="stylesheet" href="~/css/UserDetailsFontSize.css">
        <table class="table-active  table-striped table-bordered UserDetailsFontSize">
            <tbody>
            <tr>
                <td class="font-weight-bold">ID</td>
                <td>@Model.ApplicationUser.Id</td>
            </tr>
            <tr>
                <td class="font-weight-bold">First name</td>
                <td>@Model.ApplicationUser.FirstName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Last name</td>
                <td>@Model.ApplicationUser.LastName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Email</td>
                <td>@Model.ApplicationUser.Email</td>
            </tr>
            <tr>
                <td class="font-weight-bold">User type</td>
                <td>@Model.ApplicationUser.UserType.ToString()</td>
            </tr>
            <tr>
                <td class="font-weight-bold">User acces level</td>
                <td>@Model.ApplicationUser.AccessLevel</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Active</td>
                <td>@Model.ApplicationUser.Active</td>
            </tr>
            @if (! string.IsNullOrEmpty(Model.ApplicationUser.PhoneNumber))
            {
                <tr>
                    @{
                        var c = "background: #F3F0F0";
                        if (Model.ApplicationUser.PhoneNumber.Equals("Should be changed"))
                        {
                            c = "background: red";
                        }
                                                
                    }
                    <td class="font-weight-bold" style="@c">Phone number</td>

                    <td style="@c">@Model.ApplicationUser.PhoneNumber</td>
                </tr>
                
            }
            </tbody>
        </table>
    </div>

    <div class="pt-4 ">
        @if (Model.ApplicationUser.UserType.ToString().Equals("Standard"))
                    {
                        <button onclick="location.href = '@(Url.Action("Edit", "User", new {Model.ApplicationUser.Id}))'"
                                class="btn btn-lg btn-info mx-4">
                            Edit
                        </button>
                        <button onclick="location.href = '@(Url.Action("MakeVip", "User", new {Model.ApplicationUser.Id}))'"
                                class="btn btn-lg btn-warning mx-4">
                            Make a Vip
                        </button>
                    }
                    @if (Model.ApplicationUser.UserType.ToString().Equals("Vip"))
                    {
                        <button onclick="location.href = '@(Url.Action("Edit", "User", new {Model.ApplicationUser.Id}))'"
                                class="btn btn-lg btn-info mx-4">
                            Edit
                        </button>
                        <button onclick="location.href = '@(Url.Action("MakeStandard", "User", new {Model.ApplicationUser.Id}))';"
                                class="btn btn-lg btn-warning mx-4">
                            Make a Standard
                        </button>
                    }
        

        @if (!Model.ApplicationUser.Active)
        {
            <button onclick="location.href = '@(Url.Action("Activate", "User", new {Model.ApplicationUser.Id}))'"
                    class="btn btn-lg btn-success mx-4">
                Activate
            </button>
        }
        @if (Model.ApplicationUser.Active)
        {
            <button onclick="location.href = '@(Url.Action("Deactivate", "User", new {Model.ApplicationUser.Id}))';"
                    class="btn btn-lg btn-danger mx-4">
                Deactivate
            </button>
        }
    </div>


    @if (Model.CinemaEvents.Count() != 0)
    {
        <div class="align-items-center pt-4">
            <table class="table-active table-striped table-bordered">

                <thead>
                <tr>
                    <th>Screening room</th>
                    <th>Seat</th>
                    <th>Movie</th>
                    <th>Seance starting time</th>
                    <th>Occurene time</th>
                    <th>Cancel event</th>
                </tr>
                </thead>
                @foreach (var cinemaEvent in  Model.CinemaEvents)
                {
                    <tr>
                        <td>@cinemaEvent.Seance.CinemaHall.Name</td>
                        <td>@cinemaEvent.Seat.Row@cinemaEvent.Seat.Column</td>
                        <td>@cinemaEvent.Seance.Movie.Title</td>
                        <td>@cinemaEvent.Seance.StartingTime</td>
                        <td>@cinemaEvent.OccurenceTime</td>
                        <td class="font-weight-bold" style="background: red; text-align: center; " onclick="location.href='@Url.Action("Cancel", "Booking", new {id = cinemaEvent.Id})'">
                            Cancel
                        </td>
                    </tr>
                }
            </table>

        </div>
    }

</div>
