@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - PAS_Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a asp-action="Index" asp-controller="Home" class="navbar-brand">PAS_Cinema</a>
    
  <!-- Toggle button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a asp-controller="Seance" asp-action="All" class="nav-link">Seances</a>
      </li>
      <li class="nav-item">
        <a asp-controller="User" asp-action="All" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a asp-controller="CinemaHall" asp-action="All" class="nav-link">Cinema Halls</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      @if (SignInManager.IsSignedIn(User))
      {
        <li class="nav-item">
          <form method="post" asp-action="SignOut" asp-controller="Account">
            <button type="submit" class="nav-link btn btn-link">Sign out @User.Identity.Name</button>
          </form>
        </li>
      }
      else
      {
        <li class="nav-item">
          <a asp-action="SignIn" asp-controller="Account" class="nav-link">Sign in</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Account" asp-action="SignUp" class="nav-link">Sign Up</a>
        </li>
      }
    </ul>
  </div>
</nav>

<main role="main" class="pb-3">
  @if (TempData["comment"] != null)
  {
    <h6 class="text-center text-info mt-3">@TempData["comment"]</h6>
  }
  @RenderBody()
</main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
